
extends ./_layouts/root

block header_content
    .row
        .column.text-center
            a(href='/')#logo=project.name
block main_content
    .row.column.text-center
        h3 Free Named-Entity extraction for everyone!
    br
    #demo-app
    br
    section
        h3.section-header FAQ
        .section-body
            dl
                dt Q: API Requests Limits?
                dd A: You can make 100 requests per hour per IP.
                dt Q: Supported Languages?
                dd A: Today Entitizer supports only Romanian. We plan to add a new language every 3 months.
    br
    script(type='v-template')#demo-template
        #demo
            #demo-header
                h4 Demo
            #demo-body
                .row
                    .column.small-2
                        label.label-method.label.secondary GET
                    .column.small-10
                        label#demo-url.label http://free.entitizer.com/v0/entitize
                br
                .row
                    .column.small-2
                        label.label-param.label ?text=
                    .column.small-10
                        textarea(rows=4, cols=10, v-model="text")#demo-text
                .row
                    .column.small-2
                        label.label-param.label &amp;lang=
                    .column.small-2
                        select#demo-lang(v-model="lang")
                            option(value='ro') ro
                    .column.small-8
                    //- We work hard on adding new languages
                .row
                    .column.small-12.text-right
                        button(type='buttom', v-on:click='processText', v-if="!processing", v-bind:disabled="!lang || !text || text.length<10").button.alert Process
                        button(type='buttom', disabled, v-if="processing").button.alert Processing
            #demo-footer(v-if="!!result")
                h4 Response
                pre
                    code#demo-result {{ result }}

block scripts
    script(src="/assets/js/demo.min.js?v="+project.version)