
.c-media {
    zoom: 1;
    overflow: hidden;
    margin-top: 15px;
}
.c-media_icon {
    display: table-cell;
    vertical-align: top;
    padding-right: 10px;
    img {
        border-radius: 3px;
        background: #fff;
        height: 40px;
        width: 40px;
        display: block;
        max-width: 40px;
    }
}
.c-media_body {
    display: table-cell;
    vertical-align: top;
    width: 10000px;
    zoom: 1;
    overflow: hidden;
}

ul.u-unstyled {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

#demo-footer {
    .c-media_body {
        h6 {
            font-weight: bold;
            margin-bottom: 0px;
        }
        p {
            margin-bottom: 4px;
            font-size: 80%;
            color: #666;
        }
    }
}