
.section {
    max-width: 600px;
    margin: 20px auto;
}
.section-content{
    background-color: #fff;
    padding: 10px;
    // @include shadow();
    box-shadow: 0 0 6px 2px rgba(0,0,0,.10);
    @include border-radius();
}
.section-footer{
    background-color: #eee;
    margin: 0px 10px;
    padding: 20px;
}

#result-html{
    .name{
        font-weight: bold;
    }
    li{
        padding: 6px 0px;
        @include clearfix;
    }
    sup {
        margin-left: 6px;
    }
}

.entity-item{
    @include clearfix;
}

.entity-img,.concept-img{
    float: left;
    img{
        height: 45px;
        width: 45px;
        border-radius: 3px;
        background-color: #eee;
    }
}
.entity-info,.concept-info {
    float: left;
    margin-left: 15px;
    overflow: hidden;
    max-width: 90%;
}
.concept-item{
    @include clearfix;
}