
body{
    background-image: url('../img/seamless_paper_texture.png');
    background-repeat: repeat;
}

#logo {
    display: inline-block;
    color: $alert-color;
    padding-top: 30px;
    font-style: italic;
    font-weight: bold;
}

#page-header,#page-main,#page-footer{
    max-width: 840px;
    margin: 0px auto;
    margin-bottom: 20px;
}

.section{
    margin-bottom: 20px;
}

#page-footer{
    small {
        color: #555;
    }
}