
body{
    background-image: url('../img/seamless_paper_texture.png');
    background-repeat: repeat;
}

#page-header,#page-main,#page-footer{
    max-width: 940px;
    margin: 0px auto;
    margin-bottom: 40px;
}

#demo-header{
    border-top-left-radius: $global-radius;
	border-top-right-radius: $global-radius;
    padding: 8px 20px;
    font-size: 140%;
    border-bottom: 1px solid $dark-gray;
    background: $light-gray;
}

#demo-body {
    background: #fff;
    padding: 10px;
}

#demo-footer {
    background: $medium-gray;
    padding: 10px 20px;
}

#demo-result {
    display: block;
    font-size: 80%;
    border:none;
    background: none;
}